@media (max-width: 399px) {
    .panah1 {
        width: 180vw; 
        margin: -155vw 0vw 0vw -55vw;
        display: none;
    }
    .gif-emot-4 {
        width: 70vw;
        margin: 15vw 0vw 0vw 0vw;
        text-align: left;
    }
    .gif-kata-kata {
        width: 30vw;
        margin-left: 58vw;
        margin-top: -5vw;
        margin-bottom: 5vw;
    }
    .nama-besar-arah {
        color: rgb(17, 100, 255);
        font-size: 17vw;
        font-weight: 1000;
        line-height: 80%;
        text-align: right;
        margin-top: -5vw;
    }
    .panah-gif {
        order: 2;
    }
    .arah-gif {
        order: 1;
    }

    .client-background {
        margin-top: 4.47vw; height: 55vw;
    }
    .client-div1 {
        margin: 2.61vw 0vw 5.96vw 0vw;
    }
    .client-image {
        width: 75vw; padding-left: 0,37vw; 
    }
    .client-text {
        margin-top: 2vw;
        font-size: 3.5vw;
    }

    .tahap-tahap-A {
        margin-top: 10vw;
    }

    .tahap-tahap-B {
        margin-top: 3.72vw;
        margin-bottom: 14vw !important;
        margin-left: 0.1vw;
        width: 100%;
    }
    .tahap-1 {
        width: 11.17vw;
        margin: 0vw 0vw 0vw 1vw; 
        display: block;
    }
    .tahap-2 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-3 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-4 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-image {
        display: block;
        margin: auto auto -3vw auto;
        width: 30%;
        height: auto;
    }
    .card {
        height: 250px;
    }
    .card-body {
        padding: 10px;
    }
    .mb-3 {
        margin-bottom: 0vw !important;
    }


    .row1 {
        line-height: 6vw;
        margin-right: -18.302vw;
    
    }
    .row2 {
        margin-right: 18.302vw;
        margin-top: 10vw;
    }
    .row3 {
        margin-top: 5vw;
        margin-bottom: 0vw;
        margin-left: 0vw;
        text-align: left;
    }
    .row3-maps {
        width: 82vw;
        height: 45vw;
    }

    .kotak-versi-1 {
        display: none;
    }
    .isi-footer {
        margin-left: -4vw;
    }

}

@media (max-width: 575px) {
    .judul-web {
        text-align: left;
    }
    .nav-menu {
        text-align: right;
        margin-right: -6vw;
    }


    .service-1 {
        width: 70vw;
    }
    .kotak-kotak-utama-A {
        margin-top: 3vw;
    }
    .kotak-gambar-1 {
        margin-right: auto; 
        width: 71vw;
    }
    .kotak-gambar-2 {
        margin-top: -5vw;
    }
    .kotak-gambar-3 {
        margin-left: auto; 
        margin-top: -5vw;
    }
    .kotak-kotak-utama-B {
        margin-top: -5vw; 
        margin-bottom: 10vw;
    }
    .kotak-gambar-4 {
        margin-left: auto; 
    }
    .kotak-gambar-5 {
        margin-left: auto; 
        margin-top: -5vw;
    }
}

@media (min-width: 400px) {
    .panah1 {
        width: 80vw; 
        margin: -70vw 0vw 0vw -45vw;
    }
    .gif-emot-4 {
        width: 50vw;
        margin: -14vw 0vw 0vw 43vw;
    }
    .gif-kata-kata {
        width: 20vw;
        margin-left: 65vw;
        margin-top: -20vw;
    }
    .nama-besar-arah {
        color: rgb(17, 100, 255);
        font-size: 12vw;
        font-weight: 1000;
        line-height: 80%;
        text-align: right;
        margin-top: -10vw;
    }
    .panah-gif {
        order: 2;
    }
    .arah-gif {
        order: 1;
    }

    .client-background {
        margin-top: 4.47vw; height: 55vw;
    }
    .client-div1 {
        margin: 2.61vw 0vw 5.96vw 0vw;
    }
    .client-image {
        width: 75vw; padding-left: 0,37vw; 
    }
    .client-text {
        margin-top: 2vw;
        font-size: 3.5vw;
    }

    .tahap-tahap-A {
        margin-top: 10vw;
    }
    .tahap-tahap-B {
        margin-top: 3.72vw;
        margin-bottom: 10vw;
        margin-left: 0.1vw;
        width: 100%;
    }
    .tahap-1 {
        width: 11.17vw;
        margin: 0vw 0vw 0vw 1vw; 
        display: block;
    }
    .tahap-2 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-3 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-4 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-image {
        display: block;
        margin: auto auto -3vw auto;
        width: 30%;
        height: auto;
    }
    .card {
        height: 250px;
    }
    .card-body {
        padding: 10px;
    }
    .mb-3 {
        margin-bottom: 0vw !important;
    }


    .row1 {
        line-height: 6vw;
        margin-right: -18.302vw;
    
    }
    .row2 {
        margin-right: 18.302vw;
        margin-top: 5vw;
    }
    .row3 {
        margin-top: 5vw;
        margin-bottom: 0vw;
        margin-left: 0vw;
        text-align: left;
    }
    .row3-maps {
        width: 82vw;
        height: 45vw;
    }

    .kotak-versi-1 {
        display: none;
    }

    .footer-konten {
        margin-left: -5vw;
    }
}

@media (min-width: 576px) {
    .judul-web {
        margin-left: 0vw;
    }
    .search-container {
        margin-left: 10vw;
        width: 40vw;
    }
    .nav-menu {
        text-align: right;
        margin-left: 0vw;
    }

    .panah1 {
        width: 60vw; 
        margin: -10.35vw 0vw 0vw -3vw;
    }
    .gif-emot-4 {
        width: 44.64vw;
        margin: -1vw 0vw 0vw 1.49vw;
    }
    .gif-kata-kata {
        width: 14.87vw;
        margin-left: 29vw;
        margin-top: 3vw;
    }
    .nama-besar-arah {
        color: rgb(17, 100, 255);
        font-size: 7.43vw;
        font-weight: 1000;
        line-height: 80%;
        text-align: right;
        margin-top: 0vw;
    }
    .panah-gif {
        order: 1;
    }
    .arah-gif {
        order: 2;
    }

    .client-background {
        margin-top: 4.47vw; height: 35vw;
    }
    .client-div1 {
        margin: 2.61vw 0vw 5.96vw 0vw;
    }
    .client-image {
        width: 50vw; padding-left: 0,37vw; 
    }
    .client-text {
        margin-top: -0.5vw;
        font-size: 2.61vw;
    }

    .tahap-tahap-A {
        margin-top: 5vw;
    }
    .tahap-tahap-B {
        margin-top: 3.72vw;
        margin-bottom: 10vw;
        margin-left: 10vw;
        width: 80%;
    }
    .tahap-1 {
        width: 11.17vw;
        margin: 0vw 0vw 0vw 1vw; 
        display: block;
    }
    .tahap-2 {
        width: 11.17vw;
        margin: 0vw 0vw 0vw 1vw; 
        display: block;
    }
    .tahap-3 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-4 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-image {
        display: block;
        margin: auto auto -3vw auto;
        width: 30%;
        height: auto;
    }
    .card {
        height: 290px;
    }
    .card-body {
        padding: 10px;
    }
    .mb-3 {
        margin-bottom: 0vw !important;
    }


    .service-1 {
        width: 65vw;
    }
    .kotak-kotak-utama-A {
        margin-left: 0vw;
        margin-top: 3vw;
    }
    .kotak-gambar-1 {
        margin-right: auto; 
        width: 66vw;
    }
    .kotak-gambar-2 {
        margin-top: -5vw;
    }
    .kotak-gambar-3 {
        margin-left: auto; 
        margin-top: -5vw;
    }
    .kotak-kotak-utama-B {
        margin-top: -5vw; 
        margin-bottom: auto;
        margin-left: 0vw;
    }
    .kotak-gambar-4 {
        margin-left: auto; 
    }
    .kotak-gambar-5 {
        margin-left: auto; 
        margin-top: -5vw;
    }


    .row1 {
        line-height: 4vw;
        margin-right: -18.302vw;
    
    }
    .row2 {
        margin-right: 18.302vw;
        margin-top: 5vw;
    }
    .row3 {
        margin-top: 1.464vw;
        margin-bottom: 7vw;
        margin-left: 0vw;
        text-align: left;
    }
    .row3-maps {
        width: 81vw;
        height: 40vw;
    }

    .kotak-versi-1 {
        display: none;
    }
    .kotak-versi-2 {
        margin-left: 0vw;
    }

    .footer-konten {
        margin-left: auto;
    }

}

@media (min-width: 768px) {
    .judul-web {
        margin-left:-12vw;
    }
    .search-container {
        width: 35vw;
        margin-left: -5vw;
    }
    .nav-menu {
        margin-right: -33vw;
    }

    .panah1 {
        width: 60vw; 
        margin: -19.35vw 0vw 0vw -0vw;
    }
    .gif-emot-4 {
        width: 44.64vw;
        margin: -1vw 0vw 0vw 1.49vw;
    }
    .gif-kata-kata {
        width: 14.87vw;
        margin-left: 31vw;
        margin-top: -3vw;
    }
    .nama-besar-arah {
        color: rgb(17, 100, 255);
        font-size: 7.43vw;
        font-weight: 1000;
        line-height: 80%;
        text-align: right;
        margin-top: -1vw;
    }

    .client-background {
        margin-top: 4.47vw; height: 23.46vw;
    }
    .client-div1 {
        margin: 2.61vw 0vw 5.96vw 0vw;
    }
    .client-image {
        width: 29.78vw; padding-left: 0,37vw; 
    }
    .client-text {
        margin-top: -0.5vw;
        font-size: 2.61vw;
    }

    .tahap-tahap-B {
        margin-top: 3.72vw;
        margin-bottom: 3.72vw;
        margin-left: 0.1vw;
        width: 100%;
    }
    .tahap-1 {
        width: 11.17vw;
        margin: 0vw 0vw 0vw 1vw; 
        display: block;
    }
    .tahap-2 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-3 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-4 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-image {
        display: block;
        margin: auto;
        width: 50%;
        height: auto;
    }
    .card {
        height: 330px;
    }
    .card-body {
        padding: 10px;
    }
    .card-1 {
        margin-bottom: 3vw;
    }

    .service-1 {
        width: 32vw;
    }
    .kotak-kotak-utama-A {
        margin-left: -1.5vw;
        margin-top: 3vw;
    }
    .kotak-gambar-1 {
        margin-right: -5vw;
        width: none;
    }
    .kotak-gambar-2 {
        margin-top: 0vw;
    }
    .kotak-gambar-3 {
        margin-left: -1vw;
        margin-top: 0vw;
    }
    .kotak-kotak-utama-B {
        margin-top: -3.5vw; 
        margin-bottom: 2.928vw;
        margin-left: -1.5vw;
    }
    .kotak-gambar-4 {
        margin-left: 16.5vw;
    }
    .kotak-gambar-5 {
        margin-left: -14vw;
        margin-top: 0vw;
    }


    .row1 {
        line-height: 4vw;
        margin-right: -18.302vw;
    
    }
    .row2 {
        margin-right: 18.302vw;
        margin-top: 5vw;
    }
    .row3 {
        margin-top: 1.464vw;
        margin-bottom: 7vw;
        margin-left: 0vw;
        text-align: left;
    }
    .row3-maps {
        width: 81vw;
        height: 40vw;
    }

    .kotak-versi-1 {
        display: block;
    }

    .kotak-versi-2 {
        display: none;
    }
}

@media (min-width: 992px) {
    .judul-web {
        margin-left: -6.5vw;
    }
    .nav-menu {
        margin-right: -9vw;
    }
    .search-container {
        width: 25vw;
        margin-left: 8vw;
    }

    .panah1 {
        width: 60vw; 
        margin: -19.35vw 0vw 0vw -0vw;
    }
    .gif-emot-4 {
        width: 44.64vw;
        margin: -3.35vw 0vw 0vw 1.49vw;
    }
    .gif-kata-kata {
        width: 14.87vw;
        margin-left: 31vw;
        margin-top: 2vw;
    }
    .nama-besar-arah {
        color: rgb(17, 100, 255);
        font-size: 7.43vw;
        font-weight: 1000;
        line-height: 80%;
        text-align: right;
        margin-top: 0.5vw;
    }

    .client-background {
        margin-top: 4.47vw; height: 23.46vw;
    }
    .client-div1 {
        margin: 2.61vw 0vw 5.96vw 0vw;
    }
    .client-image {
        width: 29.78vw; padding-left: 0,37vw;
    }
    .client-text {
        margin-top: 0vw;
        font-size: 2.61vw;
    }


    .tahap-tahap-B {
        margin-top: 3.72vw;
        margin-bottom: 3.72vw;
        margin-left: -1vw;
        width: 100%;
    }
    .tahap-1 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-2 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-3 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-4 {
        width: 11.17vw;
        margin: auto; 
        display: block;
    }
    .tahap-image {
        display: block;
        margin: auto;
        width: 50%;
        height: auto;
    }
    .card {
        height: 330px;
        width: 237px;
    }
    .card-body {
        padding: 10px;
    }
    

    .service-1 {
        width: 32vw;
    }
    .kotak-kotak-utama-A {
        margin-top: -1vw;
    }
    .kotak-gambar-1 {
        margin-right: -5vw;
    }
    .kotak-gambar-3 {
        margin-left: -1.5vw;
    }
    .kotak-kotak-utama-B {
        margin-top: -3.5vw; 
        margin-bottom: 2.928vw;
    }
    .kotak-gambar-4 {
        margin-left: 17.5vw;
    }
    .kotak-gambar-5 {
        margin-left: -14vw;
    }


    .row1 {
        line-height: 2.196vw;
        margin-right: -18.302vw;
    
    }
    .row2 {
        margin-right: 18.302vw;
        margin-top: auto;
    }
    .row3 {
        margin-top: 1.464vw;
        margin-bottom: 7vw;
        margin-left: 0vw;
        text-align: left;
    }
    .row3-maps {
        width: auto;
        height: 20vw;
    }
}

@media (min-width: 1200px) {
    .judul-web {
        margin-left: -4.5vw;
    }
    .nav-menu {
        margin-left: 14vw;
    }
    .search-container {
        width: 30vw;
        margin-left: 15vw;
    }

    .panah1 {
        width: 52.09vw; 
        margin: -19.35vw 0vw 0vw 11.14vw;
    }
    .gif-emot-4 {
        width: 44.64vw;
        margin: -3.35vw 0vw 0vw 1.49vw;
    }
    .gif-kata-kata {
        width: 14.87vw;
        margin-left: 32.78vw;
    }
    .nama-besar-arah {
        color: rgb(17, 100, 255);
        font-size: 7.43vw;
        font-weight: 1000;
        line-height: 80%;
        text-align: right;
    }

    .client-background {
        margin-top: 4.47vw; height: 23.46vw;
    }
    .client-div1 {
        margin: 2.61vw 0vw 5.96vw 0vw;
    }
    .client-image {
        width: 29.78vw; padding-left: 0,37vw;
    }
    .client-text {
        margin-top: 0vw;
        font-size: 2.61vw;
    }


    .tahap-tahap-B {
        position:relative;
        margin-top: -1.5vw;
        margin-bottom: 3.72vw;
        margin-left: 1VW;
        width: 100%;
    }
    .tahap-1 {
        width: 11.17vw;
        height: auto;
        margin: auto; 
        display: flex;
    }
    .tahap-2 {
        width: 11.17vw;
        margin: auto; 
        display: flex;
    }
    .tahap-3 {
        width: 11.17vw;
        margin: auto; 
        display: flex;
    }
    .tahap-4 {
        width: 11.17vw;
        height: auto;
        margin: auto; 
        display: flex;
    }
    .tahap-image {
        display: block;
        margin: auto;
        width: 50%;
        height: auto;
    }
    .card {
        height: 350px;
        width: 270px;
    }
    .card-body {
        padding: 10px;
    }


    .service-1 {
        width: 21.96vw;
    }
    .kotak-kotak-utama-A {
        margin-top: -4vw;
    }
    .kotak-gambar-1 {
        margin-right: -21.962vw;
    }
    .kotak-gambar-3 {
        margin-left: -21.96vw;
    }
    .kotak-kotak-utama-B {
        margin-top: -1.464vw; 
        margin-bottom: 2.928vw;
    }
    .kotak-gambar-4 {
        margin-left: 26.086vw;
    }
    .kotak-gambar-5 {
        margin-left: -27.086vw;
    }


    .row1 {
        line-height: 2.196vw;
        margin-right: -18.302vw;
    }
    .row2 {
        margin-right: 18.302vw;
        margin-top: 0vw;
    }
    .row3 {
        margin-top: -0.366vw;
        margin-bottom: 2vw;
        margin-left: -14.641vw;
        text-align: left;
    }
    .row3-maps {
        width: 44vw;
        height: 10vw;
    }
}

body * {
    border: 0px solid red;
    
}
body{
    background: linear-gradient(to right, #bbbbbb, #ffffff, #35a7ff48);
    background-blend-mode: overlay;
}


.nav-transparant {
    transition: background-color 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
}
.nav-active {
    font-weight: 500;
}
.nav-transparant {
    transition: background-color 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
}
.scrolled {
    background: white !important;
    backdrop-filter: blur(0px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.drop-transparant {
    background-color: rgb(17, 100, 255);
    backdrop-filter: blur(2px);
    box-shadow: #ffffff;
}
.category-css {
    color: #f8f8f8;
    font-weight: 500;
}


.judul-web {
    line-height: 80%;
    font-family: "Helvetica", "Arial", sans-serif !important;
    font-weight: 700;
    font-size:0.9rem;
    color: #252525;
    margin-bottom: -4%;
    margin-top: -3%;
}


.search-container {
    position: sticky;
    display: flex;
    background: rgba(85, 85, 85, 0.185);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    padding: 5px 15px;
    margin-top: 1.5%;
}
.search-input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
    padding: 5px;
}
.search-input::placeholder {
    color: rgb(121, 121, 121);
}
.search-icon {
    position: absolute;
    right: 15px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.client-background {
    background: linear-gradient(to right ,#043f99, hwb(216 5% 5%));

}
.client-text {
    color: rgb(255, 255, 255);  font-weight: 700; line-height: 80%;
}


.service-1 {
    transition: transform 0.3s ease-in-out;
}
.service-1-merah:hover {
    transform: scale(1.2);
    .service-1 {
    transition: transform 0.3s ease-in-out; }
    filter: drop-shadow(0vw 0vw 1.09vw rgba(255, 0, 0, 0.904));
}
.service-1-pink:hover {
    transform: scale(1.2);
    .service-1 {
    transition: transform 0.3s ease-in-out; }
    filter: drop-shadow(0vw 0vw 1.09vw rgba(255, 0, 212, 0.904));
}
.service-1-hijau:hover {
    transform: scale(1.2);
    .service-1 {
    transition: transform 0.3s ease-in-out; }
    filter: drop-shadow(0vw 0vw 1.09vw rgba(0, 255, 55, 0.904));
}
.service-1-orange:hover {
    transform: scale(1.2);
    .service-1 {
    transition: transform 0.3s ease-in-out; }
    filter: drop-shadow(0vw 0vw 1.09vw rgba(255, 94, 0, 0.904));
}
.service-1-ungu:hover {
    transform: scale(1.2);
    .service-1 {
    transition: transform 0.3s ease-in-out; }
    filter: drop-shadow(0vw 0vw 1.09vw rgba(162, 0, 255, 0.904));
}


footer {
    background: linear-gradient(to right ,#043f99, hwb(216 5% 5%));
    padding-top: 40px;
    padding-bottom: 20px;
    color: #ffffff;
}
.isi-footer {
    padding: 0px 40px 0px 40px;
}
